.mobilecard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin: 5px;
}
.card{
  box-shadow: 2px 2px 2px grey;
}